#container-box {
    background-color: darkblue;

    font-size: 2vh;
    color: green;
    text-align:center;

}

.card {
    width: 24%;
    height: 400px;
    background-color:antiquewhite;
}

img {
    height:80%;
    width: auto;

}